FreeTAKServer/components/emergency/configuration/Emergency.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="org.fts" targetNamespace="org.fts" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="Emergency" type="Emergency"/>
	<xs:complexType name="Emergency">
		<xs:sequence>
			<xs:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Event">
		<xs:annotation>
			<xs:documentation>represents a TAK event: this class is instantiated with a standard set of values.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="access" minOccurs="1" maxOccurs="1" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Specifies access controls that should be applied to the event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="how" minOccurs="1" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Gives a hint about how the coordinates were generated.  It is used specifically to relay a hint about the types of errors that may be expected in the data and to weight the data in systems that fuse  multiple inputs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="opex" minOccurs="0" maxOccurs="1" type="xs:integer">
				<xs:annotation>
					<xs:documentation>OPTIONAL: Specifies whether the event is part of a live operation, an exercise, or a simulation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qos" minOccurs="0" maxOccurs="1" type="xs:integer">
				<xs:annotation>
					<xs:documentation>OPTIONAL: Specifies a quality of service desired from applications processing or routing the event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stale" minOccurs="1" maxOccurs="1" type="xs:long">
				<xs:annotation>
					<xs:documentation>ending time when an event should no longer be considered valid l (with respect to Zulu time in extended ISO 8601 format)</xs:documentation>
					<xs:documentation>In protobuff is in milliseconds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start" minOccurs="1" maxOccurs="1" type="xs:long">
				<xs:annotation>
					<xs:documentation>starting time of the event's validity interval (with respect to Zulu time in extended ISO 8601 format) </xs:documentation>
					<xs:documentation>. As different from the moment in which the element was generated</xs:documentation>
					<xs:documentation>in protobuff this is expressed in milliseconds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" minOccurs="1" maxOccurs="1" type="xs:long">
				<xs:annotation>
					<xs:documentation>time stamp with respect to Zulu time indicating when an event was generated in extended ISO 8601 format </xs:documentation>
					<xs:documentation>in ProtoBuff expressed is in milliseconds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" minOccurs="1" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Defines what the event is about. An event may describe a physical object, a set of raw, unprocessed bits, or a tasking. </xs:documentation>
					<xs:documentation># Hierarchically organized hint about event type (&lt;b&gt;default &lt;/b&gt;is is 'a-f-G-I' for infrastructure)</xs:documentation>
					<xs:documentation>The "type" attribute is a composite of components delimited by the semi-colon character. The first component of this composite attribute is defined below.</xs:documentation>
					<xs:documentation>   Future versions of this schema will define other components which we expect    will aid in machine filtering. Despite the exclusion of definitions</xs:documentation>
					<xs:documentation>   for additional components in this version of the schema, users of    this schema should expect and design an optional trailing field    delimited by the semi-colon character. This field can be ignored.</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;   &lt;font color="#a52a2a"&gt;&lt;i&gt;component1&lt;/i&gt;&lt;/font&gt;;&lt;font color="#32cd32"&gt;optional field&lt;/font&gt;&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>  </xs:documentation>
					<xs:documentation>   The first component (&lt;font color="#a52a2a"&gt;component1&lt;/font&gt;) is a hierarchically organized hint about type.</xs:documentation>
					<xs:documentation>   The intention is that this hierarchy be flexible and extensible and facilitate simple filtering, translation and display.  To  facilitate  filtering, the hierarchy needs to present key    fields in an easily parsed and logical order.  To facilitate    this, this component is a composite of fields separated by the "-" punctuation   character, so a valid type would be: x-x-X-X-x.  Using a punctuation for field separation allows arbitrary expansion of the  type space, </xs:documentation>
					<xs:documentation>e.g., a-fzp-mlk-gm-...</xs:documentation>
					<xs:documentation>   Field meanings are type specific.  That is, the third field of an  "&lt;u&gt;atom&lt;/u&gt;" type may represent air vs. ground while the same field for a    "&lt;u&gt;reservation&lt;/u&gt;" type may represent purpose. </xs:documentation>
					<xs:documentation>   The "Atoms" portion of the type tree requires some additional explanation past the taxonomy defined below. The "Atoms" portion of    the type tree contains CoT defined fields and part of the &lt;b&gt;MIL-STD-2525&lt;/b&gt;    type definition. &lt;u&gt;To distinguish MIL-STD-2525 type strings from CoT defined    fields, the MIL-STD-2525 types must be represented in all upper    case&lt;/u&gt;. Differentiation of type namespace with upper/lower case   facilitates extension of CoT types and MIL-STD-2525 types without    name space conflict. An example:</xs:documentation>
					<xs:documentation>   a-f-A-B-C-x </xs:documentation>
					<xs:documentation>   The organization of CoT and MIL-STD-2525 types can be determined   from the taxonomy below, but additional details are provided here.</xs:documentation>
					<xs:documentation>   The "Atoms" portion of the "type" tree contains the "Battle    Dimension" and  "Function ID" fields taken from MIL-STD-2525.</xs:documentation>
					<xs:documentation>   "Battle Dimension" is a single character taken from   MIL-STD-2525. </xs:documentation>
					<xs:documentation>   The typical 2525 representation for "Function ID" is three groups of    two characters separated by a space (e.g. "12 34 56"). The CoT  schema maps this to a "-" delimited list of characters. (e.g. "1-2-3-4-5-6").</xs:documentation>
					<xs:documentation>   The concatenation of the "Battle Dimension" and "Function ID" fields    from the MIL-STD-2525 specification represented in the CoT schema</xs:documentation>
					<xs:documentation>   will be as follows:</xs:documentation>
					<xs:documentation>   battle dimension-func id char1-func id char2- ... -func id char6</xs:documentation>
					<xs:documentation>   When an appropriate MIL-STD-2525 type exists, it should be used. If  there is a MIL-STD-2525 representation which is close, but may be   refined, a CoT extension to the 2525 type can be appended.</xs:documentation>
					<xs:documentation>   for example: </xs:documentation>
					<xs:documentation>a-h-X-X-X-X-X-&lt;b&gt;i&lt;/b&gt; might represent hostile MIL-STD-2525 type X-X-X-X-X  of   &lt;b&gt;Israeli &lt;/b&gt;(the 'i'&lt;b&gt;) &lt;/b&gt;manufacture. Again, the&lt;u&gt; CoT extension uses lower case&lt;/u&gt;. </xs:documentation>
					<xs:documentation>   Conceptually, this extension defines further branching from the   nearest MIL-STD-2525 tree point.</xs:documentation>
					<xs:documentation>   If no appropriate 2525 representation exists, a type definition can be added to the CoT tree defined here. The resulting definition    would be represented in all lower case. For example</xs:documentation>
					<xs:documentation>   a-h-G-p-i</xs:documentation>
					<xs:documentation>   might define atoms-hostile-Ground-photon cannon-infrared.</xs:documentation>
					<xs:documentation>   The taxonomy currently looks like this: Note that the coding of the  sub fields are determined entirely by the preceding fields!) The</xs:documentation>
					<xs:documentation>   current type tree is defined here. </xs:documentation>
					<xs:documentation>       &lt;b&gt;+--- First position, this event describes&lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;       a - Atoms - this event describes an actual "thing"&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>      &lt;b&gt;     +--- 2nd CoT affiliation of these atoms&lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;&lt;b&gt;     &lt;/b&gt;           p - Pending&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           u - Unknown&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           a - Assumed friend&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           f - Friend&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           n - Neutral&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           s - Suspect&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           h - Hostile&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           j - Joker&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           k - Faker&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           o - None specified&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           x - Other&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;               +--- Battle dimension&lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;               |    Taken from MIL-STD-2525 "Battle Dimension" (upper case)&lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;      &lt;/b&gt;</xs:documentation>
					<xs:documentation>           &lt;i&gt;    See MIL-STD-2525B specification for single character battle dimension&lt;/i&gt;</xs:documentation>
					<xs:documentation>          &lt;b&gt;         +--- Function (dimension specific!)&lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;              &lt;/b&gt;&lt;i&gt;See MIL-STD-2525B specification for  function fields (must be upper case)    &lt;/i&gt;</xs:documentation>
					<xs:documentation>                   ...</xs:documentation>
					<xs:documentation>&lt;b&gt;       +--- The event describes ...&lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;    &lt;/b&gt;       b - Bits - Events in the "Bit" group carry meta information about raw data sources.  For example, range-doppler</xs:documentation>
					<xs:documentation>                  radar returns or SAR imagery represent classes of information that are "bits".  However, tracks derived from such sources represent objects on the battlespace and this have event type "A-..."</xs:documentation>
					<xs:documentation>                  The intention with the "Bit" type is to facilitate the identification of germane information products.</xs:documentation>
					<xs:documentation>                  This hierarchy is not intended to replace more detailed domain-specific meta information (such as that contained in NITF image headers or the GMTI data formats), rather it is intended to provide a domain-neutral mechanism for rapid filtering of information products.</xs:documentation>
					<xs:documentation>&lt;b&gt;           +--- Dimension     &lt;/b&gt;</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           i - Imagery&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               e - Electro-optical&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               i - Infra red&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               s - SAR&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               v - video&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               ...&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           r - Radar&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               m - MTI data&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               ...&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           d - Sensor detection events&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               s - Seismic&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               d - Doppler&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               a - Acoustic&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               m - Motion (e.g., IR)&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           m - Mapping&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               p - Designated point (rally point, etc.)&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;                   i - initial points&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;                   r - rally points&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;                   ...&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;       r - Reservation/Restriction/References &lt;/b&gt;</xs:documentation>
					<xs:documentation>                  Events in this category are generally "notices" about specific areas.  These events are used for deconfliction and conveyance of significant "area" conditions.  Generally, the "point" entity will describe a conical region that completely encloses the affected area.  The details entity will provide more specific bounds on precisely the region affected.</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           u - Unsafe (hostile capability)&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           o - Occupied (e.g., SOF forces on ground)&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           c - Contaminated (NBC event)&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;               c - chemical&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;                   x - agents, direction,&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;                   y&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;                   z&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           f - Flight restrictions&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>&lt;b&gt;       t - Tasking (requests/orders)&lt;/b&gt;</xs:documentation>
					<xs:documentation>Events in this category are generalized requests for service.  These may be used to request for data collection, request mesuration of a specific object, order an asset to take action against a specific point.  Generally, the "details" entity will identify the general or specific entity being tasked.</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           s - Surveillance&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           r - Relocate&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           e - Engage&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           m - Mensurate&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt; &lt;b&gt;      c - Capability (applied to an area)&lt;/b&gt;&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           s - Surveillance&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           r - Rescue&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           f - Fires&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           d - Direct fires&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;            i - Indirect fires&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;           l - Logistics (supply)&lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;            f - Fuel&lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
					<xs:documentation>               ...</xs:documentation>
					<xs:documentation>           c - Communications</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uid" minOccurs="1" maxOccurs="1" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Globally unique name for this information on this event.</xs:documentation>
					<xs:documentation>can have additional information attached.</xs:documentation>
					<xs:documentation>[EventTYPE].[MACHINESENDERID].Nichname.UniqueID</xs:documentation>
					<xs:documentation>e.g. -&lt;i&gt;ping &lt;/i&gt;means that this event is a ping, </xs:documentation>
					<xs:documentation>&lt;i&gt;</xs:documentation>
					<xs:documentation>&lt;/i&gt;&lt;i&gt;GeoChat &lt;/i&gt;indicates a chat type structure.</xs:documentation>
					<xs:documentation>The &lt;b&gt;UID&lt;/b&gt; should be in the following format: GeoChat.&amp;lt;sender uid&amp;gt;.&amp;lt;recipient callsign or name of the group&amp;gt;.&amp;lt;random string for uniqueness&amp;gt;.  Diverging from this format should not cause significant issues; however, the UID is used as a fallback if other information cannot be parsed from the message, so issues may still be experienced.  If uid does not contain any “.” characters, the chat room will default to “All Chat Rooms”.</xs:documentation>
					<xs:documentation>GeoChat.ANDROID-7C:91:22:E8:6E:4D.DIPPER.44bf77cd-289e-4ea4-8756-ce295de168ca</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" minOccurs="1" maxOccurs="1" type="">
				<xs:annotation>
					<xs:documentation>Schema version of this event instance (e.g. 2.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detail" minOccurs="1" maxOccurs="1" type="detail"/>
			<xs:element name="point" minOccurs="1" maxOccurs="1" type="point"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contact">
		<xs:annotation>
			<xs:documentation>This is a Cursor On Target Class representing communications parameters for contacting a friendly element for human-to-human communications. The objective of this Class is to carry the essential information needed to contact this entity by a variety of means.   Multiple ways of establishing contact can be specified;</xs:documentation>
			<xs:documentation>noThe attributes  callsign, phone, and email should be self-explanatory.  particular mode of contact is required. Other attributes, freq, dsn, modulation, and hostname, are also available.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="detail">
		<xs:annotation>
			<xs:documentation>An optional element used to hold CoT sub-schema. Detail has no special properties</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contact" minOccurs="0" maxOccurs="1" type="contact"/>
			<xs:element name="emergency" minOccurs="0" maxOccurs="1" type="emergency"/>
			<xs:element name="link" minOccurs="0" maxOccurs="1" type="link"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="emergency">
		<xs:annotation>
			<xs:documentation>An emergency beacon the is continually send to all the connected clients until deactivated from the original creator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Alert" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="cancel" minOccurs="1" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>if true the emergency beacon is canceled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" minOccurs="1" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>default constructor  def __init__(self):</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="link">
		<xs:annotation>
			<xs:documentation>This is a Cursor On Target Class for linking to either another CoT event or an arbitrary Internet resource. The objective of this class is to provide an abstract way to express a relationship between a CoT object and other object.  This allows, for example, a sensor point of interest to be linked back to its source, or a PPLI from a wingman to be associated with his flight lead.  Linkages are always unidirectional.  </xs:documentation>
			<xs:documentation>One entity may have multiple links (i.e., it may be related to multiples other entities).  For processing simplicity, it is required that the relationship graphs will directed and acyclic (no cycles).  The link, itself, names the relationship (using a hierarchy similar to the CoT type), the UID of the related object (whether CoT or not), possibly provides a URL for retrieving that object.</xs:documentation>
			<xs:documentation>links are used for example in routes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="production_time" minOccurs="1" maxOccurs="1" type="xs:integer">
				<xs:annotation>
					<xs:documentation>the time in which this link has been produced (e.g. "2020-11-26T14:19:02Z")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relation" minOccurs="1" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>The type of relationship (e.g, subject, object, indirect object) that this link describes.  This is a hierarchy much like the event type field.</xs:documentation>
					<xs:documentation>Common values: "c"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" minOccurs="1" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>The CoT type of the referenced MIL 2525 object.  This is included because it is generally the key item needed in a tasking. Common types are:</xs:documentation>
					<xs:documentation>&lt;ul&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;&lt;b&gt;Control Point:&lt;/b&gt; "b-m-p-c" &lt;/li&gt;</xs:documentation>
					<xs:documentation>	&lt;li&gt;  &lt;b&gt;Waypoint&lt;/b&gt;: "b-m-p-w" &lt;/li&gt;</xs:documentation>
					<xs:documentation>&lt;/ul&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uid" minOccurs="1" maxOccurs="1" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="point">
		<xs:annotation>
			<xs:documentation>class COTPOINT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ce" minOccurs="1" maxOccurs="1" type="xs:double">
				<xs:annotation>
					<xs:documentation>Circular area around the point defined by lat and lon fields in meters. When used to represent error, the value represents the one sigma point for a zero mean normal (Gaussian) distribution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hae" minOccurs="1" maxOccurs="1" type="xs:double">
				<xs:annotation>
					<xs:documentation>Height above Ellipsoid based on WGS-84 ellipsoid (measured in meters)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lat" minOccurs="1" maxOccurs="1" type="xs:double">
				<xs:annotation>
					<xs:documentation>Latitude referred to the WGS 84 ellipsoid in degrees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="le" minOccurs="1" maxOccurs="1" type="xs:double">
				<xs:annotation>
					<xs:documentation>A height range about the event point in meters associated with the HAE field. When used to represent error, the value represents the one sigma point for a zero mean normal (Gaussian) distribution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lon" minOccurs="1" maxOccurs="1" type="xs:double">
				<xs:annotation>
					<xs:documentation>Longitude referred to the WGS 84 in degrees</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
